h2{
   color: white;
   text-align: center;

   
}
P{
   text-align: center;
   width: 50%;
}
h3{
   color: white;
   text-align: center;
   margin-top: 100px;
}
.s1{
   color: black;
}
.j1{
   color: aqua;
}
