<br>
<h2>{{data}}</h2>

    <div> 
        <h2></h2>
        <form (ngSubmit)="login()" [formGroup]="loginForm">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">User Id</label><br>
              <input formControlName="acno" type="text" name="acc" id="l1" [placeholder]="data2">
              <p *ngIf="this.loginForm.get('acno')?.errors&&this.loginForm.get('acno')?.touched" class="text-danger">Please include Numbers Only</p>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label><br>
                <input formControlName="psw" type="password" name="password" class="" id="l2" [placeholder]="data3">
                <p *ngIf="this.loginForm.get('psw')?.errors&&this.loginForm.get('psw')?.touched" class="text-danger">Accept Numbers And Characters</p>
              </div>
            <div class="mb-3 form-check"> 
                <br>
                <button  type="submit" class="z1 btn btn-success ">LOGIN</button>
              </div>
                <div class="mb-3 form-check">
<br>
                    <h5 >if you are new:<a class="n1" routerLink="signup">create a new account</a></h5>

            </div>

          </form>
          </div>      

 
