<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Login & Signup Form</title>
  </head>
  <body>
    <section class="wrapper">
      <div class="form signup">
        <header>SIGNUP</header>
        <form [formGroup]="signupForm" action="#">
          <input formControlName="acno" id="a1" name="acno" type="text" placeholder="Account Number" required />
          <p *ngIf="this.signupForm.get('acno')?.errors && this.signupForm.get('acno')?.touched " class="text-danger">Accept Only Numbers</p>
          <input formControlName="uname" id="u1" name="uname" type="text" placeholder="User Name" required />
          <p  *ngIf="this.signupForm.get('uname')?.errors && this.signupForm.get('uname')?.touched " class="text-danger">Please Include Characters Only</p>

          <input formControlName="psw" id="p1" name="password" type="password" placeholder="Password" required />
          <p  *ngIf="this.signupForm.get('psw')?.errors && this.signupForm.get('psw')?.touched " class="text-danger">Please Include Characters And Numbers Only</p>

          <input formControlName="cpsw"  id="p2" name="password1" type="password" placeholder="Confirm Password" required />
          <p *ngIf="pswCheck" class="text-danger">Password Doesn't Match</p>


          <div class="checkbox">
            <input type="checkbox" id="signupCheck" />
            <label for="signupCheck">I accept all terms & conditions</label>
          </div>
          <!-- <input type="submit" value="signup" /> -->
          <button  (click)="signup()" type="submit" class="z1 btn btn-success ">SIGNUP</button>

        </form>
      </div>
      <div class="form login">
        <header>LOGIN</header>
        <form action="#">
          <input type="text" placeholder="Email address" required />
          <input type="password" placeholder="Password" required />
          <a href="#">Forgot password?</a>
          <input type="submit" value="Login" />
        </form>
      </div>

      <!-- <script>
        const wrapper = document.querySelector(".wrapper"),
          signupHeader = document.querySelector(".signup header"),
          loginHeader = document.querySelector(".login header");
        loginHeader.addEventListener("click", () => {
          wrapper.classList.add("active");
        });
        signupHeader.addEventListener("click", () => {
          wrapper.classList.remove("active");
        });
      </script> -->
    </section>
  </body>